[submodule "0-common/igluctl"]
	path = 0-common/igluctl
	url = https://github.com/snowplow/igluctl.git
[submodule "0-common/scala-core"]
	path = 0-common/scala-core
	url = https://github.com/snowplow/iglu-scala-core.git
[submodule "0-common/schema-ddl"]
	path = 0-common/schema-ddl
	url = https://github.com/snowplow/schema-ddl.git
[submodule "1-clients/javascript"]
	path = 1-clients/javascript
	url = https://github.com/snowplow/iglu-javascript-client.git
[submodule "1-clients/objc"]
	path = 1-clients/objc
	url = https://github.com/snowplow/iglu-objc-client.git
[submodule "1-clients/ruby"]
	path = 1-clients/ruby
	url = https://github.com/snowplow/iglu-ruby-client.git
[submodule "1-clients/scala"]
	path = 1-clients/scala
	url = https://github.com/snowplow/iglu-scala-client.git
[submodule "2-repositories/iglu-server"]
	path = 2-repositories/iglu-server
	url = https://github.com/snowplow/iglu-server.git
[submodule "2-repositories/iglu-central"]
	path = 2-repositories/iglu-central
	url = https://github.com/snowplow/iglu-central.git
